<p-panel [showHeader]="false">
    <div class="grid">
        <div class="col">
            <h4>Bandeja principal de estudiantes</h4>
            <p-table
                [value]="estudiantes"
                [paginator]="true"
                [rows]="5"
                selectionMode="single"
                dataKey="id"
                [rowsPerPageOptions]="[1, 5, 10]"
                [(selection)]="estudiante"
                styleClass="p-datatable-gridlines p-datatable-striped"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-estudiante>
                    <tr [pSelectableRow]="estudiante">
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.correo }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>

<br />
<pre>{{ estudiante | json }}</pre>
